@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Barlow Semi Condensed', sans-serif;
}

body {
    background-color: hsl(210, 46%, 95%);
}

.depoimentos {
    width: 100vw;
}

.depoimentos-grid {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
    justify-content: center;
    margin-top: 4.5rem;
    margin-bottom: 4rem;
}

.quote {
    position: absolute;
    margin-top: -32px;
    margin-left: 165px;
    width: 7rem;
}

.cartao {
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
    border-radius: 0.5rem;
    width: 88vw;
    padding: 32px;
    box-shadow: 5px 5px 15px -15px #555;
}

.cartao-nome {
    display: flex;
    gap: 1rem;
    align-items: center;
    color: hsl(0, 0%, 100%);
    font-size: 0.65rem;
}

.cartao-nome span {
    opacity: 50%;
}

.cartao-nome img {
    border-radius: 50%;
    border: 3px solid hsla(0, 0%, 100%, 0.349) ;
    width: 30px;
}

.cartao-p1 {
    color: hsl(0, 0%, 100%);
    font-size: 1.28rem;
    font-weight: 600;
}

.camada {
    z-index: 1;
}

.cartao-p2 {
    color: hsl(0, 0%, 100%);
    opacity: 70%;
    font-size: 0.9rem;
    font-weight: 400;
}

.dark {
    color: hsl(219, 29%, 14%);
}

.cartao1 {
    background-color: hsl(263, 55%, 52%);
}

.cartao2 {
    background-color: hsl(217, 19%, 35%);
}

.cartao3 {
    background-color: hsl(0, 0%, 100%);
}

.cartao4 {
    background-color: hsl(219, 29%, 14%);
}

.cartao5 {
    background-color: hsl(0, 0%, 100%);
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

